<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Java_Lecture_4/src/RemoteControl/Online_webtables.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RemoteControl.Online_webtables"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java_Lecture_4"/>
</launchConfiguration>
